{% extends "electronic_products/base.html" %}
{% block content %}
{% load static %}
<div class="col-md-10" style="width: 50%; float:left;">
<h1 style="color: white;">Electronics4u</h1>
<h3 style="color: white;">Welcome to the Electronics4u Website!</h3>
<img src="{% static 'images/phone.jpg' %}" width="300"; height="300"; >
</div>


 
<div class="col-md-4" style="width: 50; float: right;">
  <div class="content-section">
      <h3 style="color: rgb(12, 6, 6)">Category</h3>
      <p style="color: rgb(12, 6, 6);">Choose from the list of products.</p>
      <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a href="{% url 'electronic_products-smartphone' %}">Smart Phone</a></li>
          <li class="list-group-item list-group-item-light"><a href="{% url 'electronic_products-SmartTv' %}">Smart TV</a></li>
      <li class="list-group-item list-group-item-light"><a href="{% url 'electronic_products-smartwatch' %}">Smart Watch</a></li>
      <li class="list-group-item list-group-item-light"><a href="{% url 'electronic_products-tablet' %}">Tablet</a></li>
    </ul>
    </div>

    
   <br><br><br><br><br><br><br><br>

  <div class="footer" style=" margin-left: -41.7em; padding: 10px 180px; position: fixed; width: 100%; height: 13.5%; color: rgb(241, 241, 241); background-color: rgba(3, 50, 92); ">
    Copyright © 2023
   <a class="text-white" href="https://mdbootstrap.com/">Electronics4u All rights reserved</a>
 </div>
 {% endblock %}



