{% extends "electronic_products/base.html" %}
{% block content %}<h1>About us</h1>
{% load static %}
<img src="{% static 'images/electronic.jpg' %}" alt="something" width="500px"; height="300px"; > 
<br><br>
<p>Our vision - We Help Everyone Enjoy Amazing Technology - is to help customers choose, afford and enjoy amazing technology however they choose to shop with us. By offering the best range of products, credit and services through our digital-first omnichannel model we will build customer relationships that are stickier and more valuable over time, in all geographies we operate in. This will benefit our customers, our colleagues, our shareholders and society.</p>
<br>
<div class="footer" style=" margin-left: -10.3rem; padding: 10px 180px; position: fixed; width: 100%; height: 10%; color: rgb(241, 241, 241); background-color: rgba(3, 50, 92); ">
    Copyright © 2023
   <a class="text-white" href="https://mdbootstrap.com/">Electronics4u All rights reserved</a>
 </div>

{% endblock %}

