{% extends "electronic_products/base.html" %}
{% block content %}
<h1 style="color: white;">Contact us</h1>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />

<form>
    <div class="form-group" style="color: black;">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"  placeholder="Enter name">
    </div>
<div class="form-group" style="color: black;">
      <label for="email">Email address</label>
      <input type="text" class="form-control" id="email"  placeholder="Enter email">
    </div>
    <div class="form-group" style="color: black;">
      <label for="subject">Subject</label>
      <input type="text" class="form-control" id="subject" placeholder="Enter subject">
    </div>
    <div class="form-group" style="color: black;">
      <label for="exampleInputmessage1">Message</label>
      <textarea type="text" class="form-control" id="message" placeholder="Enter message" rows="4" md-textarea></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<br><br>

  <div class="footer" style=" margin-left: -10.3rem; padding: 10px 180px; position: fixed; width: 100%; height: 10%; color: rgb(241, 241, 241); background-color: rgba(3, 50, 92); ">
     Copyright © 2023
    <a class="text-white" href="https://mdbootstrap.com/">Electronics4u All rights reserved</a>
  </div>


{% endblock %}

