{% extends "electronic_products/base.html" %}
{% block content %}
<h3> {{'Product'}}</h3>
    <h2 class="article-title">Product Name:{{object.name}} Brand: {{object.brand}}</h2>
    <h2 class="article-title">Average cost: £{{object.price}}</h2>
    <h2 class="article-title">Category: {{object.category}}</h2>
    <h2 class="article-title">Date it was released: {{object.release_of_date}}</h2>
    <h2 class="article-title">Description: {{object.description}}</h2>
    <img class="rounded-circle article-img" src="{{object.image.url}}"/>
      
    {% if object.name == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'product-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'product-delete' object.id %}">Delete</a>
    {% endif %}


    <a class="nav-item nav-link" href="{% url 'review-create' %}?product={{ object.id }}">Add new review</a>
    {% for review in Reviews %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{review.author.profile.image.url}}"/>
      <div class="media-body">
        <div class="article-metadata">
          <h3><a class="article-title" href="{% url 'review-detail' review.id %}">Posted by {{review.name}} Review rating: {{review.product_rating}}</a></h3>

    </div>
    </div>
  </article>
  
  {% empty %}
  <p>No reviews found for this product.</p>
{% endfor %}

</div>
{% endblock content%}