{% extends "electronic_products/base.html" %}
{% block content %}
<article class="media content-section">
  <p><img class="rounded-circle account-img" 
    src="{{user.profile.image.url}}"></p>
    <div class="media-body">
      <div class="article-metadata">
         <p> <a class="mr-2" href=""> </p>
      </div>
      <h2><a class="article-title">{{object.author}} </h2>
      <p class="article-content">{{object.product_rating}}{{object.product}}{{object.text}}{{object.date_reviewed}}</p>
  
      {% if object.author == user %}
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'review-update' object.id %}"> Update </a>
      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'review-delete' object.id %}"> Delete </a>
    {% endif %}
    </div>
  </article>
{% endblock %}