{% extends "electronic_products/base.html" %}
{% block content %}
  <h1> Smart Tv {{ product.prod_name }}</h1>

  {% for product in smartTvs %}
    {% if product.category == 'TV' %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{product.image.url}}"/>
        <div class="media-body">
          <div class="article-metadata">
            <h3><a class="article-title" href="{% url 'product-detail' product.id %}">Product Name:{{product.name}} Brand: {{product.brand}}</a></h3>
          </div>
        </div>
      </article>
    {% endif %}
  {% empty %}
    <p>No reviews found for this Product.</p>
  {% endfor %}
  
{% endblock %}